

<form method="POST" action="/new">
    <input type="text" value="Author's Name">Author's Name
    <input type="button" value="message text"> Message Text
    <input type="button" value="Submit"> Submit
</form>